nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar{
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

a:hover{
    color: blue;
}

.sign-and-search{
    display: flex;
    align-items: center;
}